

body{
  background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("././../Images/shamrock.jpeg"), center no-repeat fixed;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  padding: 5%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: auto;
}

a:link {
  color:#3F875E;
}

a:visited {
  color: #115e11;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  color: rgb(75, 162, 20);
  text-decoration: none;
}

.under {
  text-decoration: green wavy underline;
}

.title {
  font-variant: small-caps;
}

#machine-form {
  align-items: center;
  flex-direction: column;
}

div#footer {
  font-variant: small-caps;
  font-size: 1rem;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#7D8201;
  padding:8px;
};

@media (max-width: 600px) {
  body {
    padding: 3%;
  }
}