div#footer {
  font-variant: small-caps;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#7D8201;
  padding:8px;
};

body {
  background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("././../Images/shamrock.jpeg"), center no-repeat fixed;
  background-size: cover;
  color:rgb(0, 0, 0)000;
  margin: auto;
  padding: auto;
}

a:link {
  color:#3F875E;
}

a:visited {
  color: #115e11;
  text-decoration: none;
  font-weight: bolder;
}

.fun{
  background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("././../Images/shamrock.jpeg"), center no-repeat fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: auto;
  padding: auto;
  border: auto;
  height: auto;
  overflow: hidden;
  background-size: cover;
  color: #6E7D67;
}

a:hover {
  color: rgb(75, 162, 20);
  text-decoration: none;
}

.under {
  text-decoration: green wavy underline;
}

.title {
  font-variant: small-caps;
}